*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
#search {
    display: block;
    margin: 20px auto;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    width: 50%;
    border: 2px solid #ccc;
  }
.gallery {
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 25px;
  padding: 20px;
  margin: 0 auto;
  justify-content: center;
}

#search:focus {
  border-color: black;
  background-color: #cceefe;
}
img {
  transition: transform .5s;
}

img:hover {
  transform: scale(1.1);
  transition: transform .5s ease-in-out .2s;
}
